---
layout: default
title: Namaste
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">Namaste :)</h1>
  </header>

  <p>I'm Harsh Vakharia, computer science and engineering student studiyng in Surat, India. <a href="/about">more &rarr;</a></p>
</article>

<aside class="recent">
  <h3 class="recent-title">Recent posts</h3>
  <nav class="posts">
    {% for post in site.posts limit:5 %}
      <div class="posts-item">
        <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d %b" }}</time></small>
        <a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a>
      </div>
    {% endfor %}
  </nav>
</aside>

{% include liga.html %}
