@mixin before-border($margin: 2rem auto) {
  &:before {
    display: block;
    content: "";
    width: 100px;
    height: 1px;
    margin: $margin;
    background-color: $divider-color;
  }
}

@mixin container() {
  max-width: $min-width-breakpoint;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.social-icons {
  margin-top: 0.2rem;

  a {
    border: 0;
    margin-right: 0.1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.masthead, .content, .footer, .ads {
  @include container();
}

.related, .recent, .footer {
  @include before-border();
}

.related, .recent {
  .related-title, .recent-title {
    margin-top: 0;
  }
}

.masthead {
  // font-family: 'Roboto Slab';
  margin-bottom: 2rem;
  // text-align: center;

  .masthead-title {
    font-family: 'Roboto Slab';
    font-size: 1.1rem;
    // font-weight: 700;
    display: block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;

    img {
      height: 33px;
      width: auto;

      @media (min-width: $min-width-breakpoint) {
        margin-bottom: 0;
      }
    }

    @media (min-width: $min-width-breakpoint) {
      // float: left;
    }
  }

  .masthead-nav {
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;

    a {
      text-decoration: none;
      border: 0;

      & + a {
        margin-left: 0.6rem;
      }
    }
  }

  @media (min-width: $min-width-breakpoint) {
    padding-top: 1rem;
    // text-align: right;
  }

}

.footer {
  margin-bottom: 1rem;
  text-align: center;

  a[rel="license"]:first-child {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.posts {
  padding-bottom: 1rem;

  .posts-item {
    margin-bottom: 1rem;

    @media (min-width: $min-width-breakpoint) {
      margin-bottom: 0.2rem;
    }
  }

  a {
    border: 0;
  }

  time {
    display: block;
    color: $post-date-color;

    @media (min-width: $min-width-breakpoint) {
      margin-top: 2px;
      float: right;
    }
  }
}

.fork-left {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;

  img {
    margin: 0;
  }

  @media (min-width: $min-width-breakpoint) {
    display: inline-block;
  }
}

.fork-right {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;

  img {
    height: 80px;
    margin: 0;
  }

  @media (min-width: $min-width-breakpoint) {
    display: none;
  }
}

.header-ads {
  margin-bottom: 2rem;
}

.footer-ads {
  margin-top: 2rem;
}
