---
sitemap:
  exclude: 'yes'
---

@import "variables";
@import "utility";

@import "normalize";
@import "box-sizing";
@import "clearfix";

@import "syntax";
@import "icons";
@import "post";

html {
  font: $default-font;
  font-weight: $default-font-weight;
  -webkit-font-smoothing: antialiased;

  @media screen and (min-width: $desktop-min) {
    font-size: $desktop-font-size;
  }
}

body {
  background: $body-background-color;
  color: $body-text-color;
}

h1, h2, h3, h4, h5, h6, pre, ul, ol {
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  @extend %default-margin-bottom;
  margin-top: 0;
}

h1 {
  font-size: 2.31rem;
  line-height: 1.29;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.71;
}

h3 {
  font-size: 1.31rem;
  line-height: 1.14;
}

hr {
  border: 0;
  border-bottom: 1px solid $divider-color;
}

pre {
  @extend %default-margin-bottom;
  overflow: auto;
  white-space: pre;
  padding: 0.5em 1em;
  border: 5px solid #ddd;
  background: #fff;
  border-radius: 4px;

  font-size: 0.87rem;
  line-height: 1.71;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.dark-link {
  color: #444;
  -moz-transition:color .2s ease-in;
  -webkit-transition:color .2s ease-in;
  transition:color .2s ease-out;

  &:hover {
    color: $link-color;
    text-decoration: none;
  }
}

p {
  @extend %default-margin-bottom;
  margin-top: 0;
}

img {
  max-width: 100%;

  &.figure {
    border: 3px solid #eee;
    border-radius: 10px;
  }

  &.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.container {
  width: 90%;
  max-width: 640px;
  margin: 0 auto;
}

.site-header {
  @extend .clearfix;
  margin-top: $base-spacing-unit;
  margin-bottom: $base-spacing-unit * 3;
}

.logo {
  float: left;
  display: inline-block;
  height: 48px;
  margin: 0;
  padding: 0;

  @media screen and (min-width: $desktop-min) {
    height: 60px;
  }

  > img {
    height: 48px;

    @media screen and (min-width: $desktop-min) {
      height: 60px;
    }
  }
}

.site-nav {
  float: right;
  list-style: none;
  margin: 0;
  margin-top: $base-spacing-unit / 2;

  li {
    display: inline;
    font-size: 0.8rem;
    font-weight: bold;
    padding-left: $base-font-size;
    text-transform: uppercase;
  }

  a {
    @extend .dark-link;
  }
}

.hero {
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 200px;
  overflow: hidden;
  margin-top: -$base-spacing-unit * 2; // [1]
  margin-bottom: $base-spacing-unit * 2;
}

.site-content {
  margin-bottom: $base-spacing-unit;
}

.site-footer {
  @extend %double-margin-bottom, %center-text, %double-margin-top, %mute-text;
}

.about-blurb {
  @extend %default-margin-bottom, %center-text;
}

.about-blurb__icons {
  font-size: 2.25rem;

  a {
    @extend .dark-link;
  }
}

.gravatar {
  margin-bottom: 1.5rem;
  text-align: center;

  img {
    border-radius: 50%;
  }
}

blockquote {
  @extend %default-margin-bottom;
  margin-left: 0;
  margin-right: 0;
  border-left: 5px solid #ddd;
  padding-left: $base-spacing-unit;
}
