---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
    {% else %}
      <meta name="description" content="{{ site.description }}">
    {% endif %}

    {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords | append: keywords_suffix }}">
    {% else %}
    <meta name="keywords" content="{{ site.keywords | append: keywords_suffix }}">
    {% endif %}

    <title>{{ page.title }} &mdash; {{ site.title }}</title>

    {% include meta.html %}

    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:700|Source+Sans+Pro:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend:site.baseurl }}">

    {% include icons.html %}

    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ '/atom.xml' | prepend:site.baseurl }}">
  </head>
  <body>
    {% include fork.html %}
    {% include masthead.html %}
    {% if page.id %}
      {% include header_ad.html %}
    {% endif %}
    <main class="content">
      {{ content }}
    </main>
    {% include footer_ad.html %}
    {% include footer.html %}
    {% include analytics.html %}
  </body>
</html>
