<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    {% include meta.html %}
    {% include icons.html %}
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="/feed.xml">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    {% include header.html %}
    <div class="site-content">
      <div class="container">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
